{%extends 'all_gallery/base.html'%}

{% block content %}

<div class="container">

  <div class="imgnew">
    <img src="{{projects.post.url}}" class="img-responsive" alt="" width="500px">
  </div>
  <div class="imgnew">
    <h1>{{projects.name}}</h1>
  </div>

  <div class="imgnew">
    <p>{{projects.detailed_description}}</p>
    <a href="projects.link">
      <p class="card_text">https://dict.hinkhoj.com/rezard-meaning-in-english.words{{projects.link}}</p>
    </a>
  </div>
  <h1>{{projects.user}}</h1>

  <a href="{% url 'votes' %}">vote</a>


</div>

{% endblock %}