{%extends 'all_gallery/base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %}
<h1>
  <center>welcome to her to post your project</center>
</h1>
<br><br>
<div class="container">
  <div class="panel-heading">
    {% for pic in profile %}
    <div class="row">
      <div class="col-md-4">
        <strong>{{pic.name}}</strong><br>
        <img src="{{pic.prof_image.url}}" class="img-responsive" alt="Image" width=200 height=200 class="avatar">
        hello
        <p><strong>{{pic.bio}}</strong><br></p>

        {% endfor %}

        <a href="/photo/{{img.id}}"><img src="{{img.image.url}}" alt="Image"></a>

      </div>

    </div>
  </div>

</div>
</div>

</div>
</div>
{%endblock%}