{%extends 'all_gallery/base.html'%}
{% load bootstrap3 %} {% load staticfiles %}

{% block content %}
<h1>
  <center>welcome to her to post your project</center>
</h1>
<br><br>

<div class="container">

  <div class="panel-heading">
    {% for pic in profile %}
    <div class="row">
      <div class="col-md-4">
        <strong>{{pic.name}}</strong><br>
        <a href="/profile/{{pic.id}}"><img src="{{pic.prof_image.url}}" class="img-responsive" alt="Image" width=50
            height=50 class="avatar"></a>


        {%empty%}

        {% endfor %}



        <div class="panel-heading">
          <div class="row">
            <div class="column">
              <div class="imgnew">
                {% for img in projects %}
                <div class="row">
                  <div class="col-md-4">
                    <strong>Title {{img.name}}</strong>
                    <a href="/photo/{{img.id}}"><img src="{{img.image.url}}" alt="Image"></a>
                    <!-- <p>Design:{{num}}</p>
                    <p>Usability:{{num}}</p>
                    <p>Content:{{num}}</p> -->

                    {% endfor %}

                  </div>

                </div>

              </div>

            </div>
          </div>


        </div>

      </div>
    </div>

  </div>
</div>

{%endblock%}