{%extends 'all_gallery/base.html'%}
{% load bootstrap3 %} {% load staticfiles %}

{% block content %}
<div class="row text-center">
  {% if projects %}
  <h2> Found {{projects|length}} projects with the search term "{{message}}"</h2>
  {% else %}
  <h2> Found 0 projects for the search term "{{message}}"</h2>
  {% endif %}
</div>

<div class="text-center">

  <hr>
  <div class="container headers">
  </div>
  <div class="pages">
    <div class="row">
      {% for project in projects %}
      <div class="col-md-3 ">
        <div class="card">
          <img class="card-img-top img-responsive" src="{{project.image.url}}" alt=''>
          <div class="card-body">
            <a href="/projects/{{project.id}}">
              <h5 class="card-title">{{project.name}}</h5>
            </a>
            <p><span class="date">{{project.detailed_description}}</span></p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    {%endif %}

  </div>
</div>
{%endblock %}